<%- include('partials/header.ejs'); %>

<section class="container">
    <header>
        <h2>Square Game</h2>
    </header>

    <div ng-app="squareGame">

        <square-game nb-players="<%= MAX_PLAYERS %>" max-score="<%= SCORE_MAX %>">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </square-game>

    </div>
</section>

<%- include('partials/footer.ejs') %>
