test
typings
bundled
build
temp
coverage
docs
wiki
karma.conf.js
tsconfig.json
tsconfig.compile.json
typings.json
CONTRIBUTING.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
tslint.json
.travis.yml
.gitignore
.vscode
.publishrc
type_definitions
.idea