{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "node_modules",
    "**/index.ts",
    "**/interfaces/**",
    "**/*.spec.ts"
  ],
  "reporter": [
    "text-summary",
    "html",
    "lcov"
  ],
  "extension": [
    ".ts"
  ],
  "check-coverage": true,
  "lines": 55.67,
  "statements": 56.9,
  "functions": 34.38,
  "branches": 6.25,
  "all": true
}
