{
  "include": [
    "packages/*/src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "node_modules",
    "packages/**/*.spec.ts",
    "packages/platform-test-utils/**",
    "packages/testing/**",
    "packages/**/ExpressRouter.ts",
    "packages/**/RouteService.ts",
    "packages/swagger/src/decorators/{title,description,example}.ts",
    "**/interfaces/**",
    "**/legacy/**",
    "**/index.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [],
  "reporter": [
    "text-summary",
    "html",
    "lcov"
  ],
  "check-coverage": true,
  "lines": 99.76,
  "statements": 99.75,
  "functions": 99.56,
  "branches": 88.32
}
