language: node_js
cache:
  directories:
    - ~/.npm
node_js:
  - '8'
after_success:
  - npm run travis:deploy-once "npm run semantic-release"
  - npm run travis:deploy-once "gulp docs:publish"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
