{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
  "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
   "node": true,
   "es6": true
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/no-var-requires": 0
  }
}
