{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "node_modules",
    "**/index.ts",
    "**/interfaces/**",
    "**/*.spec.ts",
    "src/test/tools.js"
  ],
  "reporter": [
    "text-summary",
    "html",
    "lcov"
  ],
  "extension": [
    ".ts"
  ],
  "check-coverage": true,
  "lines": 80,
  "statements": 80.13,
  "functions": 54.55,
  "branches": 72.38,
  "all": true
}
