
    <!-- vendor -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="/materialize-css/dist/js/materialize.min.js"></script>

    <!-- app script -->
    <script src="/scripts/squareGame.module.js"></script>
    <script src="/scripts/squareGame.service.js"></script>
    <script src="/scripts/squareGame.component.js"></script>
    <script src="/scripts/square.component.js"></script>

    <script>

    </script>



</body>
</html>