.hero-banner {
    overflow: hidden;
}

.animate-hero {
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
    transition-delay: 0.5s;
}

@screen sm {
    .animate-hero {
        transform: scale(1.2) translateY(50px) translateX(30px)
    }
}

@screen md {
    .animate-hero {
        transform: scale(1.1);
    }

    .hero-banner:hover .animate-hero {
        transform: scale(1.3) translateY(-20px) translateX(-20px) rotate(5deg);
    }
}
