nav {
    background: transparent;
    box-shadow: none;
    position: relative;
}

nav .brand-logo {
    padding-left: 20px;
}

nav ul.right {
    padding-right: 20px;
}

nav .logo--header {
    color: #1a1a1a;;
    font-size: 1.6rem;
}

nav a,
nav ul a {
    color: #1a1a1a;
}

nav.white-text .logo--header {
    color: white
}

nav a.button-collapse,
nav.white-text .hide-on-med-and-down a {
    color: white;
}

nav.darker {
    background: rgba(0, 0, 0, 0.6) !important;
}

.parallax-container {
    z-index: -1;
}

.parallax-home h2 {
    position: absolute;
    bottom: 45%;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    background: rgba(0, 0, 0, 0.7);
    font-family: georgia, serif;
}

section header {
    margin: 1.5em auto;
    margin-bottom: 2em;

}

section header h2 {
    font-family: "Merriweather", georgia, serif;
    margin: 0 0 1.6rem;
    font-size: 2.3rem;
    text-align: center;
}

h2.title-page {

}

hr {
    border: 0;
    border-top: 1px solid #e0e0e0;
}

.waiting-server {
    padding-left: 50px;
    display: inline-block;
}

.waiting-server .preloader-wrapper {
    position: relative;
    top: 10px;
    left: -15px;
}
