<div class="plugin-api-search-nav">
    <%- include('dropdown.ejs', {label: "Type", items: types}) %>
    <%- include('dropdown.ejs', {label: "Status", items: status}) %>
    <div class="form-search api-search">
        <input placeholder="Filter">
        <i class="material-icons">search</i>
    </div>
</div>