.sidebar, .navbar {
    z-index: 1000;
}

.projects > li.projects__badge,
.contributors > li.contributors__badge {
    z-index: 0;
}

.news .sidebar {
    top: 102px;
}

.news .navbar {
    top: 45px;
}

.news {
    padding-top: 45px;
}

.news .news-banner {
    height: 45px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-size: 110%;
}

@media (max-width: 768px) {
    .news .news-banner {
        font-size: 95%;
    }

    .news .news-banner .container {
        padding: 0px 5px;
    }

    .news .sidebar {
        top: 45px;
    }
}

@media (max-width: 376px) {
    .news .news-banner {
        font-size: 85%;
    }
}


.news .news-banner > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.news .news-banner .news-banner__content,
.news .news-banner .news-banner__image {
    padding: 5px;
}

.news .news-banner .news-banner__image img {
    height: 30px;
    margin-top: 4px;
}

.news .text-orange {
    color: #ffa000;
}

@media (min-width: 769px) {
    .dropdown-wrapper .nav-dropdown {
        max-height: 80vh !important;
    }
}

.sidebar > .sidebar-links > li > a.sidebar-link {
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar-heading {
    display: flex;
    align-items: center;
}

.sidebar-heading > span {
    flex: 1;
}

.sidebar-heading > span.arrow {
    flex: 0;
}

/* Tweak for the scroll */
.content__default h1,
.content__default h2,
.content__default h3,
.content__default h4,
.content__default h5,
.content__default h6 {
    margin-top: -3.1rem;
    padding-top: 4.6rem;
    margin-bottom: 0 !important;
}

.content__default h2 {
    text-transform: none !important;
    padding-bottom: .3rem;
    border-bottom: 1px solid #eaecef;
}

/* TMP */

.navbar {
    background-color: #013297 !important;
}

.links .search-box {
    order: 5;
    margin-right: 0;
}
.links .links-external {
    margin-left: 20px;
}
.search-box input {
    width: 0 !important;
    transition: all ease-in-out 0.5s !important;
}
.search-box input:focus {
    width: 200px !important;
}

.table-features table img {
    display: block;
    margin: auto;
}
.table-features table td {
    padding: 0.6em 0.6em;
    font-size: 80%;
}

.table-features table tr td:first-child {
    width: 140px;
}