.sidebar, .navbar {
    z-index: 1000;
}

.projects > li.projects__badge,
.contributors > li.contributors__badge {
    z-index: 0;
}

.news .sidebar {
    top: 102px;
}

.news .navbar {
    top: 45px;
}

.news {
    padding-top: 45px;
}

.news .news-banner {
    height: 45px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-size: 110%;
}

@media (max-width: 768px) {
    .news .news-banner {
        font-size: 95%;
    }

    .news .news-banner .container {
        padding: 0px 5px;
    }

    .news .sidebar {
        top: 45px;
    }
}

@media (max-width: 376px) {
    .news .news-banner {
        font-size: 85%;
    }
}


.news .news-banner > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.news .news-banner .news-banner__content,
.news .news-banner .news-banner__image {
    padding: 5px;
}

.news .news-banner .news-banner__image img {
    height: 30px;
    margin-top: 4px;
}

.news .text-orange {
    color: #ffa000;
}

@media (min-width: 769px) {

    .dropdown-wrapper .nav-dropdown {

        display: none;
        height: auto !important;
        box-sizing: border-box;
        max-height: calc(100vh - 5rem) !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        overflow-y: auto;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        padding: 0.6rem 0;
        text-align: left;
        white-space: nowrap;
        margin: 0;

    }

}