{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "node_modules",
    "**/index.ts",
    "**/interfaces/**",
    "**/*.spec.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [],
  "reporter": [
    "text-summary",
    "html",
    "lcov"
  ],
  "check-coverage": true,
  "lines": 97.64,
  "statements": 97.52,
  "functions": 89.66,
  "branches": 78.67,
  "all": true
}
