api
.vitepress/public/api.json
.vitepress/cache
.vitepress/dist
public/api.json
public/reference-sidebar.json
public/ai/references/api
# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/cache
!.yarn/sdks
!.yarn/versions
