{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "node_modules",
    "**/index.ts",
    "**/interfaces/**",
    "**/*.spec.ts",
    "src/test/tools.js"
  ],
  "reporter": [
    "text-summary",
    "html",
    "lcov"
  ],
  "extension": [
    ".ts"
  ],
  "check-coverage": true,
  "lines": 53.64,
  "statements": 55.04,
  "functions": 21.88,
  "branches": 6.25,
  "all": true
}
