.markdown-section {
  .tool-docs.header {
    position: absolute;
    top: 65px;
    right: 0px;
    > * {
      float: left;
      margin: 5px;
    }
  }
  ul.api-list {
    list-style: none;
    margin: 0 0 32px -8px;
    padding: 0;
    overflow: hidden;
  }
}

.api-list {
  li {
    font-size: 14px;
    margin: 2px 0;
    line-height: 14px;
    padding: 0;
    float: left;
    width: 33%;
    overflow: hidden;
    min-width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      &.symbol-container {
        width: 100%;
        margin-bottom: 0;
        padding: 5px 16px;
        border-radius: 5px;
      }
      .symbol {
        position: relative;
        top: -1px;
      }
    }
  }
  > p {
    display: none;
  }
}

.plugin-api-search-nav > * {
  float: left;
  margin: 8px;
}

.plugin-api-search-nav:after {
  content: "";
  clear: both;
  display: table;
}


.method-overview pre {
  border-left: 0;
  background: transparent;
  font-size: 16px;
  margin: 0 0 1em;
  padding: 0;
  overflow: auto;
  word-wrap: normal;
  code {
    background: transparent;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 17px;
    font-weight: bold;
  }
}