
* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box
}

body:not(.ready) {
  overflow: hidden
}

// body:not(.ready) .app-nav,
body:not(.ready) > nav,
body:not(.ready) [data-cloak] {
  display: none
}

body {
  opacity: 1;
  transition: all ease 1s;
}

div#app {
  font-size: 30px;
  font-weight: lighter;
  margin: 40vh auto;
  text-align: center
}

div#app:empty:before {
  content: "Loading..."
}

.emoji {
  height: 19.2px;
  height: 1.2rem;
  vertical-align: middle
}

.search {
  margin: 10px;
}

.search .search-keyword, .search a:hover {
  color: #0074d9;
  color: var(--theme-color, #0074d9)
}

.search .search-keyword {
  font-style: normal;
  font-weight: 700
}

body, html {
  height: 100%
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #34495e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden
}

img {
  max-width: 100%
}

a[disabled] {
  cursor: not-allowed;
  opacity: .6
}

kbd {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px !important;
  line-height: 12px;
  margin-bottom: 3px;
  padding: 3px 5px;
  vertical-align: middle
}

.task-list-item {
  list-style-type: none
}

li input[type=checkbox] {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle
}

main {
  display: block;
  position: relative;
  width: 100vw;
  height: 100%;
  height: 100vw;
  z-index: 0;
}

main.hidden {
  display: none
}

.anchor {
  display: inline-block;
  text-decoration: none;
  transition: all .3s
}

.anchor span {
  color: #34495e
}

.anchor:hover {
  text-decoration: underline
}

.content {
  top: 60px;
  right: 0;
  bottom: 0;
  left: 256px;
  left: 16rem;
  position: absolute;
  transition: left .25s ease
}

body.close .content {
  left: 0
}

@media print {
  .app-nav,
  .github-corner,
  .sidebar,
  .sidebar-toggle,
  #app-navbar {
    display: none
  }
}

.github-corner {
  display: none;
}
