
.contributors {
  text-align: center;
}

.contributors-badge {
  display: inline-block;
  width: 80px;
  margin: 20px;
}

.contributors-badge img {
  border-radius: 100%;
  overflow: hidden;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
