
.page-footer {
  background: #e6e6e6;
  .page-footer-content {
    position: relative;
    padding: 40px 50px;
    padding-right: 105px;
    background: #DDD;
  }
  .improve-docs {
    text-align: center;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: #ffa000;
    font-weight: 600;
  }
  a:hover {
    color: #0074d9;
  }
  p {
    font-size: 12px;
  }
  .next-step-header {
    font-size: 1.25em;
    color: #0c3645;
  }
  .github-stars {
    position: absolute;
    top: 30px;
    right: 10px;
  }
}
