
.guide-links {
  margin-top: 2em;
  height: 1em;

  > a {
    text-decoration: none;
    color: #ffa000;
    font-weight: 600;

    &:hover {
      color: #0074d9;
    }

    &:first-child:before {
      content: "←";
      color: #34495e;
      margin-right: 5px;
      position: relative;
      top: -1px;
    }
    &:last-child {
      float: right;

      &:after {
        content: "→";
        color: #34495e;
        text-decoration: none;
        margin-left: 5px;
        position: relative;
        top: -1px;
      }
    }
  }
}
