[data-page*="_home"] main {
  .content {
    padding-top: 0px;

    .markdown-section {
      padding: 0;
    }
  }
}

main .content .what-is-it {
  margin-bottom: 50px;
  padding: 20px;

  h1 {
    color: #FFA700;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
  }
  p {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

#highlights {
  background-color: #fff;
  padding-bottom: 60px;

  .inner {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }

  .point {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 2em;
  }

  h5 {
    text-transform: uppercase;
    color: $primary-color;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0;
  }

  .point {
    p {
      margin-top: 10px;
      color: #7f8c8d;
      word-spacing: 0.05em;
      line-height: 20px;

      a {
        color: $primary-color;
        text-decoration: none;
      }
      a:hover {
        color: $secondary-color;
      }
    }

  }

}

.contributors-wrapper {
  padding: 0px 15px;
  h2 {
    color: #FFA700;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .what-is-it {
    background: #f7f7f7;
  }
  #highlights .point:not(.first) h5:before {
    content: "—";
    color: $secondary-color;
    display: block;
    margin-bottom: 20px;
  }

  #highlights .point {
    width: 90%;
  }
}

