.markdown-section {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 15px 40px;
  position: relative;
  > {
    * {
      box-sizing: border-box;
      font-size: inherit;
    }
    :first-child {
      margin-top: 0 !important;
    }
  }
  hr {
    border: none;
    border-bottom: 1px solid #eee;
    margin: 2em 0;
  }
  iframe {
    border: 1px solid #eee;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    overflow: auto;
    width: 100%;

    th {
      font-weight: 700;
    }
    td, th {
      border: 1px solid #ddd;
      padding: 6px 13px;
    }
    tr {
      border-top: 1px solid #ccc;
    }
  }

  p.tip, tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
  p {
    &.tip {
      border-bottom-right-radius: 2px;
      border-left: 4px solid #f66;
      border-top-right-radius: 2px;
      margin: 2em 0;
      padding: 12px 24px 12px 30px;
      position: relative;
      code {
        background-color: #efefef;
      }
      em {
        color: #34495e;
      }
      &:before {
        background-color: #f66;
        border-radius: 100%;
        color: #fff;
        content: "!";
        font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
        font-size: 14px;
        font-weight: 700;
        left: -12px;
        line-height: 20px;
        position: absolute;
        width: 20px;
        height: 20px;
        text-align: center;
        top: 14px;
      }
    }
    &.warn {
      background: rgba(0, 116, 217, 0.1);
      border-radius: 2px;
      padding: 16px;
      padding: 1rem;
    }
  }
}

.markdown-section {
  padding-top: 60px;

  pre {
    position: relative;
    code a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        span {
          color: #0074d9 !important;
          color: var(--theme-color, #0074d9) !important;
        }
      }
    }
    &:after {
      color: #ccc;
      content: attr(data-lang);
      font-size: 9.6px;
      font-size: .6rem;
      font-weight: 600;
      height: 15px;
      line-height: 15px;
      padding: 5px 10px 0;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
    }
  }
  .is-full-width {
    width: 100%;
  }
  .symbol-info table {
    margin: 24px 0;
    box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
    border-radius: 2px;
    background: #fafafa;
    display: table;
    border: 0;
    tbody {
      border: 0;
      tr {
        border: 0;
      }
      th {
        background: hsla(0, 0%, 86%, 0.2);
        border: 0;
        border-right: 1px solid #dbdbdb;
        font-weight: 600;
        max-width: 100px;
      }
      td {
        border: 0px;
        padding: 16px;
        line-height: 24px;
        vertical-align: top;
      }
      th {
        padding: 16px;
        line-height: 24px;
        vertical-align: top;
      }
      td, th {
        border-bottom: 1px solid #dbdbdb;
        text-align: left;
      }
    }
    thead th {
      border-bottom: 1px solid #dbdbdb;
      text-align: left;
    }
  }
  code {
    white-space: pre;
  }
}

.markdown-section {
  h1, h2, h3, h4, strong {
    color: #333;
    font-weight: 400;
  }
  a {
    color: #0074d9;
    color: var(--theme-color, #0074d9);
    font-weight: 400;
  }
  ol, p, ul {
    line-height: 25.6px;
    line-height: 1.6rem;
    margin: 0 0 1em;
    word-spacing: .8px;
    word-spacing: 0.05rem;
  }
  h1 {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 16px;
    margin: 0 0 1rem;
  }
  h2 {
    font-size: 28.8px;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 0 16px;
    margin: 0 0 1rem;
    padding: 16px 0 0;
    padding: 1rem 0 0;
  }
  h3 {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 52px 0 19.2px;
    margin: 52px 0 1.2rem;
  }
  h4 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  h5 {
    font-size: 16px;
    font-size: 1rem;
  }
  h6 {
    font-size: 16px;
    font-size: 1rem;
    color: #777;
  }
  figure, ol, p, ul {
    margin: 1.2em 0;
  }
  ol, ul {
    padding-left: 24px;
    padding-left: 1.5rem;
  }
  li {
    line-height: 1.5;
    margin: 0;
  }
  blockquote {
    border-left: 4px solid #0074d9;
    border-left: 4px solid var(--theme-color, #0074d9);
    color: #858585;
    margin: 2em 0;
    padding-left: 20px;
    p {
      font-weight: 600;
      margin-left: 0;
    }
  }
  iframe {
    margin: 1em 0;
  }
  em {
    color: #7f8c8d;
  }
  code {
    border-radius: 3px;
    padding: .2em 6.4px;
    padding: .2em .4rem;
    white-space: nowrap;
    background-color: #f9f9f9;
    font-family: "Inconsolata";
  }
  pre {
    background-color: #f9f9f9;
    font-family: "Inconsolata";
    border-left: 2px solid #eee;
    font-size: 16px;
    margin: 0 0 1em;
    padding: 8px;
    padding: 0 10px 12px 0;
    overflow: auto;
    word-wrap: normal;
  }

  pre > code {
    background-color: #f8f8f8;
    border-radius: 2px;
    display: block;
    font-family: "Inconsolata";
    line-height: 17.6px;
    line-height: 1.1rem;
    max-width: inherit;
    overflow: inherit;
    padding: 20px .8em;
    position: relative;
    white-space: inherit
  }

  code:after, code:before {
    letter-spacing: .8px;
    letter-spacing: .05rem
  }

}

