$navbar-height: 70px !default;
$navbar-sticky-height: 52px !default;

.app-nav {
  position: absolute;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  right: 0;
  left: 0;
  z-index: 4;
  transition: all ease 300ms;

  > * {
    height: $navbar-height;
    transition: all ease 300ms;
  }

  .app-nav-left.logo {
    float: left;
    a {
      display: block;
      height: $navbar-height;
      line-height: $navbar-height;
      color: #34495e;
      font-size: 30px;
      font-weight: 300;
    }

    .sidebar-toggle {
      display: block;
      position: absolute;
      left: 10px;
      top: 3px;
      bottom: 0;
    }

  }

  li, ul {
    display: inline-block;
    list-style: none;
    margin: 0;
  }

  > .app-nav-right {
    float: right;
    display: flex;
    align-content: center;
    margin: 0;
    padding: 0;

    > li {
      padding: 0;
      margin: 0px 5px;
      display: flex;
      align-content: center;
      position: relative;

      a {
        color: #34495e;
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
        transition: color 0.3s;
      }

      > a {
        margin-bottom: -4px;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        height: 100%;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        cursor: pointer;

        .ps-icon {
          position: relative;
          top: 2px;
          left: -4px;
          @include color($secondary-color, --secondary-color);
        }

        &:hover {
          @include color($primary-color, --primary-color);
        }

        &.active {
          @include color($primary-color, --primary-color);
          /*@include border-bottom(2px solid $primary-color, --primary-color);*/
        }

        &.icon {
          font-size: 22px;

          &:hover {
            background: transparent;
            @include color($secondary-color, --secondary-color);
          }
          svg {
            display: block;
            font-size: inherit;
            height: 1em;
            overflow: visible;
            vertical-align: -.125em;
          }

        }
      }

      ul {
        padding: 0;
        color: rgba(0, 0, 0, 0.87);
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        background: #ffffff;
        @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2));
        box-sizing: border-box;
        display: none;
        max-height: calc(100vh - 61px);
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        left: 0px;
        text-align: left;
        top: 100%;
        white-space: nowrap;
        min-width: 150px;

        > li {
          padding: 0;
          margin: 0;
          display: block;
          white-space: nowrap;
        }
        a {
          cursor: pointer;
          font-size: 16px;
          display: block;
          padding: 14px 16px;
          margin: 0;
          transition: all .15s ease;

          &:hover {
            @include background-color($primary-color, --primary-color);
            color: white;
          }
          &.active {
            border-bottom: 0;
          }
        }
      }
      &:hover ul {
        display: block;
      }
    }
  }

  a {
    text-decoration: none;
  }

  &.no-badge {
    margin-right: 25px;
  }

  &.sticky {
    position: fixed;
    height: $navbar-sticky-height;
    @include background-color($navbar-sticky-background, --navbar-sticky-background);
    @include box-shadow(0 0 2px rgba(0, 0, 0, 0.25));
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;

    .app-nav-left.logo {
      a {
        color: white;
        height: $navbar-sticky-height;
        line-height: $navbar-sticky-height;
      }
    }
    > * {
      height: $navbar-sticky-height;
    }

    > ul > li {
      > a {
        margin-bottom: -4px;
        color: white;

        &:hover {
          color: white;
        }
        &.active {
          color: white;
          border-bottom: 4px solid #FFA700;
        }
      }

      &:hover > a {
        background: rgba(255, 255, 255, 0.3);
        transition: all .15s ease;
      }
    }
  }
}

[data-page*="_home.html"] .app-nav {
  .app-nav-left.logo {
    display: none;
  }
  &.sticky {
    .app-nav-left.logo {
      display: block;
      .sidebar-toggle {
        display: none;
      }
      a {
        margin-left: 10px;
        text-align: left;
      }
    }
  }
  > ul > li {
    color: white;
    > a {
      color: white;
      &:hover {
        @include color($secondary-color, --secondary-color);
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .app-nav {
    > .app-nav-left.logo {
      .sidebar-toggle {
        display: none;
      }
      a {
        margin-left: 0px;
        text-align: center;
        width: $sidebar-width;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .app-nav {
    > .app-nav-left.logo {
      display: block;
      .sidebar-toggle {
        display: block;
      }
    }
    > .app-nav-right {
      float: right;
      display: flex;
      align-content: center;
      margin: 0;
      padding: 0;

      > li:not(.nav-visible-small) {
        margin: 0;
        display: none;
      }
      > li {
        > a > span {
          display: none;
        }
      }
    }

  }
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

