.token {
  &.cdata, &.comment, &.doctype, &.prolog {
    color: #93a1a1;
  }
  &.punctuation {
    color: #586e75;
  }
}

.namespace {
  opacity: 0.7;
}

.token {
  &.boolean, &.constant, &.deleted, &.number, &.property, &.symbol, &.tag {
    color: #268bd2;
  }
  &.attr-name, &.builtin, &.char, &.inserted, &.selector, &.string, &.url {
    color: #2aa198;
  }
  &.entity {
    color: #657b83;
    background: #eee8d5;
  }
  &.atrule, &.attr-value, &.keyword {
    color: #a11;
  }
  &.function {
    color: #b58900;
  }
  &.important, &.regex, &.variable {
    color: #cb4b16;
  }
  &.bold, &.important {
    font-weight: 700;
  }
  &.italic {
    font-style: italic;
  }
  &.entity {
    cursor: help;
  }
}

code .token {
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
  min-height: 24px;
  min-height: 1.5rem
}