.topics a {
  display: inline-block;
  background: #cfd8dc;
  border-radius: 5px;
  padding: 3px 8px;
  margin: 3px 2px;
  text-decoration: none;
  font-size: 80%;
  transition: all .15s ease;
}

.topics a:hover {
  background: #0074d9;
  color: white;
}