<!DOCTYPE html>
<html lang="fr_FR" class="push-state">
<head>
    <title><%= appName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Merriweather:400,300,700" rel="stylesheet" type="text/css">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">


    <link href="/css/main.css" type="text/css" rel="stylesheet" />
    <link href="/css/squaregame.css" type="text/css" rel="stylesheet" />
    <link href="/css/animate.css" type="text/css" rel="stylesheet" />
</head>
<body>

<header>
    <nav class="navbar">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">

            </a>
        </div>
    </nav>
</header>
